<md-sidenav-container>
  <md-sidenav #sidenav mode="push" >
     <md-card-title>
       <h3>Grades</h3>
       </md-card-title>
      <md-grid-list cols=1 rowHeight="200px" (change)="change()">
          <md-grid-tile *ngFor="let option of options" (click)="clicked(option.index)">
            <img [src]=option.img/>
          </md-grid-tile>
      </md-grid-list>
  </md-sidenav>
  <button md-fab style="margin-top: 42px;" (click)="sidenav.open()">
      <md-icon>grade</md-icon>
   </button>
  <ng-content></ng-content>
</md-sidenav-container>

           <!--(click)="clicked(option.index)"
              (mouseover)="onMouseOverTile(option.index)"
              (mouseleave)="onMouseLeaveTile(option.index)">-->