.frame {
    width: 800px;
    height: 600px;
    border: solid black;
    margin: auto;
}

.pipe {
    height: 125px;
    width: 200px;
    border: solid black;
}

.box {
    height: 75px;
    width: 200px;
    border: solid black;
}

.box-container {

}

.solution {
    border: solid black;
    width: 100px;
    height: 100px;
    margin: auto;
    text-align: center;
    align-items: center;
}

.solution-text {
    margin-top: 40px;
}