<div id="backdrop">
    <h1>Math Bingo</h1>
    <br />
    <h4 id="score">{{scoreText}}</h4>
    <div class="row">
        <div class="col-sm-4">
            <br />
            <br />
            <h3 id="clock">{{timeLeft}}</h3>
            <br />
            <br />
        </div>  
        <div class="col-sm-4">
            <div id="wrapper">
                
            <table>
                <tr>
                    <th width="20%">B</th>
                    <th width="20%">I</th>
                    <th width="20%">N</th>
                    <th width="20%">G</th>
                    <th width="20%">O</th>
                </tr>
                
                <tr>
                    <td #square0 (click)="checkCorrect('0')" sqHighlightMathBingo [gameFinished]="gameFinished"></td>
                    <td #square1 (click)="checkCorrect('1')" sqHighlightMathBingo [gameFinished]="gameFinished"></td>
                    <td #square2 (click)="checkCorrect('2')" sqHighlightMathBingo [gameFinished]="gameFinished"></td>
                    <td #square3 (click)="checkCorrect('3')" sqHighlightMathBingo [gameFinished]="gameFinished"></td>
                    <td #square4 (click)="checkCorrect('4')" sqHighlightMathBingo [gameFinished]="gameFinished"></td>
                </tr>
                <tr>
                    <td #square5 (click)="checkCorrect('5')" sqHighlightMathBingo [gameFinished]="gameFinished"></td>
                    <td #square6 (click)="checkCorrect('6')" sqHighlightMathBingo [gameFinished]="gameFinished"></td>
                    <td #square7 (click)="checkCorrect('7')" sqHighlightMathBingo [gameFinished]="gameFinished"></td>
                    <td #square8 (click)="checkCorrect('8')" sqHighlightMathBingo [gameFinished]="gameFinished"></td>
                    <td #square9 (click)="checkCorrect('9')" sqHighlightMathBingo [gameFinished]="gameFinished"></td>
                </tr>
                <tr>
                    <td #square10 (click)="checkCorrect('10')" sqHighlightMathBingo [gameFinished]="gameFinished"></td>
                    <td #square11 (click)="checkCorrect('11')" sqHighlightMathBingo [gameFinished]="gameFinished"></td>
                    <td #square12 id="free" class="picked">FREE</td>
                    <td #square13 (click)="checkCorrect('13')" sqHighlightMathBingo [gameFinished]="gameFinished"></td>
                    <td #square14 (click)="checkCorrect('14')" sqHighlightMathBingo [gameFinished]="gameFinished"></td>
                </tr>
                <tr>
                    <td #square15 (click)="checkCorrect('15')" sqHighlightMathBingo [gameFinished]="gameFinished"></td>
                    <td #square16 (click)="checkCorrect('16')" sqHighlightMathBingo [gameFinished]="gameFinished"></td>
                    <td #square17 (click)="checkCorrect('17')" sqHighlightMathBingo [gameFinished]="gameFinished"></td>
                    <td #square18 (click)="checkCorrect('18')" sqHighlightMathBingo [gameFinished]="gameFinished"></td>
                    <td #square19 (click)="checkCorrect('19')" sqHighlightMathBingo [gameFinished]="gameFinished"></td>
                </tr>
                <tr>
                    <td #square20 (click)="checkCorrect('20')" sqHighlightMathBingo [gameFinished]="gameFinished"></td>
                    <td #square21 (click)="checkCorrect('21')" sqHighlightMathBingo [gameFinished]="gameFinished"></td>
                    <td #square22 (click)="checkCorrect('22')" sqHighlightMathBingo [gameFinished]="gameFinished"></td>
                    <td #square23 (click)="checkCorrect('23')" sqHighlightMathBingo [gameFinished]="gameFinished"></td>
                    <td #square24 (click)="checkCorrect('24')" sqHighlightMathBingo [gameFinished]="gameFinished"></td>
                </tr>
                </table>
            </div>
            </div>
            <div class="col-sm-4">
                <br />
                <br />
                <h3 id="equation">{{equation}}</h3>
            </div>
        </div>
        <p><a (click)="reload()" id="reload">Click Here</a> to create a new card</p>
    </div>