<div class="container" fxLayout="row" fxFlex="100" fxLayout.xs="column" fxLayoutGap="25px" fxLayoutAlign="center">
  <div fxFlex="50">
      <md-card>
        <sq-avatar #avatar (menuClicked)="changeMenu($event)"></sq-avatar>
      </md-card>
  </div>
    <div fxFlex="50" fxLayout="column">

      <md-tab-group>
      <md-tab label="Hair">
        <sq-button-grid-card
            [selectedNorm]="avatarData.hair" 
            title="Hair" 
            [options]="avatarService.getHair()"
            (buttonClicked)="changeHair($event)">
          </sq-button-grid-card> 
      </md-tab>
    </md-tab-group>

     <md-tab-group>
      <md-tab label="Shirt">
        <sq-button-grid-card
            title="Shirt"
            [selectedNorm]="avatarData.shirt" 
            [options]="avatarService.getShirts()"
            (buttonClicked)="changeShirt($event)">
          </sq-button-grid-card> 
      </md-tab>
        <md-tab label="Pants">
          <sq-button-grid-card
            [selectedNorm]="avatarData.pants" 
            title="Pants" 
            [options]="avatarService.getPants()"
            (buttonClicked)="changePants($event)">
          </sq-button-grid-card> 
        </md-tab>
     </md-tab-group>

    <md-tab-group>
      <md-tab label="Face">
        <sq-button-grid-card
            title="Face"
            [selectedMini]="avatarData.faceColor"
            [selectedNorm]="avatarData.face" 
            [options]="faceOptions"
            [miniOptions]="avatarService.getFaceColors()"
            (buttonClicked)="changeFace($event)"
            (miniButtonClicked)="changeFaceList($event)">
          </sq-button-grid-card>
      </md-tab>
      <md-tab label="Eyes">
        <sq-button-grid-card
            title="Eyes" 
            [selectedMini]="avatarData.eyeColor"
            [selectedNorm]="avatarData.eyes" 
            [options]="eyesOptions"
            [miniOptions]="avatarService.getEyesColors()"
            (buttonClicked)="changeEyes($event)"
            (miniButtonClicked)="changeEyesList($event)">
          </sq-button-grid-card>
      </md-tab>
      <md-tab label="Nose">
        <sq-button-grid-card
            title="Nose" 
            [selectedNorm]="avatarData.nose" 
            [options]="avatarService.getNoses()"
            (buttonClicked)="changeNose($event)">
          </sq-button-grid-card>
    </md-tab>
    <md-tab label="Mouth">
      <sq-button-grid-card
          title="Mouth" 
          [selectedNorm]="avatarData.mouth" 
          [options]="avatarService.getLips()"
          (buttonClicked)="changeLips($event)">
        </sq-button-grid-card>
      </md-tab>
    </md-tab-group>
  </div>
</div>