.container {
    height: 50px;
    border: solid black;
    margin: auto;
}

.words {
    width: 200px;
    margin-bottom: 3px;
    text-align:center;
}

.drop {
    display: inline-block;
    width: 200px;
}

.defs {
    vertical-align: top;
    display: inline-block;
    width: 300px;
}

.wrapper {
    text-align:center;
    min-width: 510px;
}