<div class="container" fxLayout="row" fxFlex="100" fxLayout.xs="column" fxLayoutGap="25px" fxLayoutAlign="center">
  <div fxFlex="50">
      <md-card>
        <sq-avatar></sq-avatar>
        <button  md-icon-button [routerLink]="['edit-avatar']">
          <img class="icon" src="../../../assets/icons/ShirtIcon.png" />
        </button>
      </md-card>

  </div>
  <div fxFlex="50">
    <sq-button-grid-card
      [selectedNorm]="studentData.cursor"
      title="Cursor"
      patchValue="cursor"
      [options]="cursorService.getCursors()" 
      (buttonClicked)="changeCursor($event)" 
      #cursorList>
      </sq-button-grid-card>

    <sq-button-grid-card
    [selectedNorm]="studentData.cursorFollower"
     title="Cursor Follower"
     patchValue="cursorFollower" 
     [options]="cursorFollowerService.getCursorFollowers()" 
     (buttonClicked)="changeCursorFollower($event)" 
     #cursorFollowerList>
     </sq-button-grid-card>
  </div>
</div>

