#avatarWrapper{
    position: relative;
    width:256px;
    height:506px;
    border: solid black; 
    margin: auto;
}

img {
    display: block;
    position: absolute;
    width: 250px;
    height: 250px;
}

.editMenu{
    display: inline-block;
    vertical-align: top;
}

button {
    margin-bottom: 15px;
}
