<br />
<h1>Games</h1>
<br />
<div class="row">
    <div class="col-sm-4">
        <a [routerLink]="['math-bingo']">
            <img src="../../../assets/games/MathBingo.jpg" />
            <p class="gameName">Math Bingo</p>
        </a>
    </div>
    <div class="col-sm-4">
        
    </div>
    <div class="col-sm-4">
        <a [routerLink]="['vocab-match']">
            <img src="../../../assets/games/VocabMatch.jpg" />
            <p class="gameName">vocab-match</p>
        </a>
    </div>
</div>