<br />
<h1>Games</h1>
<br />
<div class="row">
    <div class="col-sm-4">
        <a [routerLink]="['math-bingo']">
            <img src="../../../assets/games/MathBingo.jpg" />
            <p class="gameName">Math Bingo</p>
        </a>
    </div>
    <div class="col-sm-4">
        <a [routerLink]="['typing']">
            <img src="../../../assets/games/Typing.jpg" />
            <p class="gameName">Typing</p>
        </a>
    </div>
    <div class="col-sm-4">
        <a [routerLink]="['vocab-match']">
            <img src="../../../assets/games/VocabMatch.jpg" />
            <p class="gameName">Vocab Match</p>
        </a>
    </div>
</div>
<div class="row">
    <div class="col-sm-4">
        <a [routerLink]="['math-clouds']">
            <img src="../../../assets/games/VocabMatch.jpg" />
            <p class="gameName">Math Clouds</p>
        </a>
    </div>
</div>
