.dropBox {
    width: 100px;
    height: 100px;
    background-color: red;
    border: solid black 1px;
}

.partsContainer{
    background-color: blue;
    width: 100px;
}
 .endBox{
    background-color: green;
    width: 100px;
    height: 100px;
    border: solid black 1px;
    
 }

 .startBox {
    background-color: purple;
    width: 100px;
    height: 100px;
    border: solid black 1px;
     
 }