.dropBox {
    width: 100px;
    height: 100px;
    background-color: red;
    border: solid black 1px;
}

.partsBox{
    background-color: blue;
    width: 100px;
    height: 100px;
    border: solid black 1px;
}
 .endBox{
    background-color: green;
    min-width: 100px;
    max-width: 250px;
    height: 100px;
    border: solid black 1px;
    
 }

 .startBox {
    background-color: purple;
    width: 100px;
    height: 100px;
    border: solid black 1px;
 }

 .dragImg {
     height: 100px;
 }
 
 .dropImg {
     visibility: hidden;
     height: 98px;
 }

 .title {
     text-align: center;
 }

 .big-table {
     margin: auto;
 }