 .title {
     text-align: center;
 }

.square {
    width: 100px;
    height: 100px;
}

.pipe {
    position: absolute;
}

.gameboardSquare {
    position: absolute;
    visibility: hidden;
}

td {
    border: solid grey;
}

.terrain{
    position: absolute;
}

table {
    margin: auto;
}

.startBox {
    text-align: center;
    margin: auto;
    width: 100px;
    font-family: Serif;
    font-size: 18px;
}

.finishBox {
    text-align: center;
    margin: auto;
    width: 250px;
    font-family: Serif;
    font-size: 18px;
}