<sq-grade-sidenav (buttonClicked)="changeGradeLevel($event)">

    <div class="title">
        <h1>Vocabulary Pipes</h1>
    </div>
    <div class="score">{{scoreText}}</div>
    <div class="errors">
        <div>
            <md-icon>clear</md-icon>
            <md-icon>clear</md-icon>
            <md-icon>clear</md-icon>
            <md-icon>clear</md-icon>
            <md-icon>clear</md-icon>
        </div>
    </div>
    <table #gameTable>
        <tr *ngFor="let rows of gameTableRows; let r = index">
            <td>
                <div class="square">
                    <div draggable="true" *ngIf='(r > 1 && r < 5)' (dragstart)="drag($event, r-2)" class="holdingBox square">
                        <img draggable="false" [src]="pipesInHoldingBoxes[r-2].underImg" class="square pipe" [style.transform]='pipesInHoldingBoxes[r-2].pipeRotation'>
                        <img draggable="false" [src]="pipesInHoldingBoxes[r-2].outerImg" class="square pipe" [style.transform]='pipesInHoldingBoxes[r-2].pipeRotation'>
                    </div>
                    <img class="square" *ngIf='r==5' src="../../../assets/games/word-pipes/recycle.png" (drop)="recyclePipe($event)" (dragover)="allowDrop($event)" (dragleave)="stopShaking()" (dragenter)="shakeRecycle($event)" [@shake]="shakeState" (@shake.done)="doneWithShake($event)"> 
                </div>
            </td>
            <td><div class="startBox"></div></td>
            <td *ngFor="let data of gameTableData; let d = index">
                <div class="dropBox square" (drop)="onDrop($event, d+2, r)" (dragover)="allowDrop($event)" (dragleave)="unhighlightGameBoardTile($event)" (dragenter)="highlightGameboardTile($event)">
                    <img class="square terrain" [src]="gameBoard[d+2][r].terrain">
                    <img src="" class="gameboardSquare square underPipe" [style.transform]='gameBoard[d+2][r].pipeRotation'>
                    <img class="waterBlockLeftRightImg" src="" class="gameboardSquare square" >
                    <img class="waterBlockTopBottomImg" src="" class="gameboardSquare square">
                    <img src="" class="gameboardSquare square outerPipe" [style.transform]='gameBoard[d+2][r].pipeRotation'>
                </div>
            </td>
            <td><div class="finishBox"></div></td>
        </tr>
    </table>
</sq-grade-sidenav>
<sq-end-game-dialog (playAgainSelect)="reload()" #endGameDialog></sq-end-game-dialog>


    