<md-toolbar class="menu-toolbar" layout="row" layout-align="end center">
    <button md-button [routerLink]="['/']" class="navbar-brand" >SQ</button>
    <button md-button [routerLink]="['/profile']">Home</button>
    <a id="coinWrapper" *ngIf="getLoggedIn()"><img src="../assets/clip-art/GoldCoin.png" class="coin">{{goldCoins}} 
          <img src="../assets/clip-art/SilverCoin.png" class="coin"/>{{silverCoins}}
          <img src="../assets/clip-art/BronzeCoin.png" class="coin"/>{{bronzeCoins}}
      </a>
      <button md-button [routerLink]="['/games']" >Games</button>
      <button md-button *ngIf="!getLoggedIn()" [routerLink]="['/auth/signup']">Sign Up</button>
      <button md-button *ngIf="!getLoggedIn()" [routerLink]="['/auth/login']">Login</button>
      <button md-button *ngIf="getLoggedIn()" (click)="logout()">Logout</button>
</md-toolbar>