#wrapper{
    height: 500px;
    width: 510px;
    margin: auto;
}
#bwrapper, #emailInUse, h1{
    text-align: center;
}

.serverError{
    margin: auto;
    text-align: center;
}

.name{
    display: inline-block;
    width: 250px;
    height: 50px;
}
.name input{
    width: 250px;
}

input{
    width: 505px;
}

.error{
    color: orangered;
}

.container{
    background-color:cornsilk;
}



